<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class-"stat">
      <%= render 'shared/stat' %>
    </section>
    <h3>
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"><%= @user.email %></span><br/>
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"><%= @user.location %></span><br/>
      <span class="glyphicon glyphicon-comment" aria-hidden="true"><%= @user.profile %></span><br/>
    </h3>
  </aside>
<div class="col-md-8">
  <% if @following_users.any? %>
    <h3>Followings (<%= @user.following_users.count %>)</h3>
      <ol class="followingsfollowers">
      <% @following_users.each do |following_user| %>
        <%= render partial: 'users/following', locals: { following_user: following_user } %>
      <% end %>
      </ol>
  <% end %>
</div>
</div>